{% set claude_sonnet = "claude-3-5-sonnet-20241022" %}
{% set claude_haiku = "claude-3-5-haiku-20241022" %}

{% macro quiz_workflow_old(
    agent_type,
    model_vendor,
    model_name,
    dependencies,
    api_key,
    schema_name,
    prompt,
    few_shot=0,
    prompt_debug=False,
    is_operational=True,
    side_collection=[],
    json_mode=True,
    granularity="Record",
    run_mode="online",
    tokenizer_model="o200k_base",
    split_method="tiktoken",
    remove_collection=[],
    schema=None                     
) -%} 
    agent_type: {{ agent_type }}
    dependencies: {{ dependencies }}
    api_key: {{ api_key }}
    model_vendor: {{ model_vendor }}
    model_name: {{ model_name }}
    {%- if schema is not none %}
    schema: {{ schema }}
    {%- else %}
    schema_name: {{ schema_name }}
    {%- endif %}
    few_shot: {{ few_shot }}
    is_operational: {{ is_operational }}
    side_collection: {{ side_collection }}
    json_mode: {{ json_mode }}
    run_mode: {{ run_mode }}
    granularity: {{ granularity }}
    remove_collection: {{ remove_collection }}
    prompt: {{ prompt }}
    tokenizer_model: {{ tokenizer_model }}
    split_method: {{ split_method }}
    prompt_debug: {{ prompt_debug }}
{%- endmacro %}



{% macro quiz_workflow(
    agent_type,
    model_vendor,
    model_name,
    dependencies,
    api_key,
    schema_name,
    prompt,
    few_shot=0,
    prompt_debug=False,
    is_operational=True,
    side_collection=[],
    json_mode=True,
    granularity="Record",
    run_mode="online",
    tokenizer_model="o200k_base",
    split_method="tiktoken",
    remove_collection=[],
    schema=None,
    where_clause=None
) -%}
    agent_type: {{ agent_type }}
    dependencies: {{ dependencies }}
    api_key: {{ api_key }}
    model_vendor: {{ model_vendor }}
    model_name: {{ model_name }}
    {%- if schema is not none %}
    schema: {{ schema }}
    {%- else %}
    schema_name: {{ schema_name }}
    {%- endif %}
    few_shot: {{ few_shot }}
    is_operational: {{ is_operational }}
    side_collection: {{ side_collection }}
    json_mode: {{ json_mode }}
    run_mode: {{ run_mode }}
    granularity: {{ granularity }}
    remove_collection: {{ remove_collection }}
    {%- if where_clause is not none %}
    where_clause:
      {%- if where_clause is mapping %}
      clause: >-
        {{ where_clause.get('clause', '') }}
      scope: {{ where_clause.get('scope', 'item') }}
      {%- else %}
      clause: >-
        {{ where_clause }}
      scope: item
      {%- endif %}
    {%- endif %}
    prompt: {{ prompt }}
    tokenizer_model: {{ tokenizer_model }}
    split_method: {{ split_method }}
    prompt_debug: {{ prompt_debug }}
{%- endmacro %}






{% macro file_tooling_workflow(
    agent_type,
    model_name,
    dependencies,
    description,
    is_operational,
    granularity,
    model_vendor="tool",
    remove_collection=[]
) -%}
    agent_type: {{agent_type}}
    dependencies: {{ dependencies }}
    model_vendor: {{ model_vendor }}
    model_name: {{ model_name }}
    is_operational: {{ is_operational }}
    granularity: {{ granularity }}
    description: '{{ description }}'
{%- endmacro %}
{% macro conditional_tooling_workflow(
    agent_type,
    model_name,
    dependencies,
    description,
    conditional_clause,
    model_vendor="tool",
    is_operational= True,
    granularity="Record",
    side_collection=[],
    remove_collection=[]
) -%}
    agent_type: {{agent_type}}
    dependencies: {{ dependencies }}
    model_vendor: {{ model_vendor }}
    model_name: {{ model_name }}
    is_operational: {{ is_operational }}
    granularity: {{ granularity }}
    side_collection: {{ side_collection }}
    description: '{{ description }}'
    conditional_clause: {{ conditional_clause }}
{%- endmacro %}

{% macro tooling_workflow(
    agent_type,
    model_name,
    dependencies,
    description,
    model_vendor="tool",
    is_operational= True,
    granularity="Record",
    side_collection=[],
    remove_collection=[],
    where_clause=None
) -%}
    agent_type: {{agent_type}}
    dependencies: {{ dependencies }}
    model_vendor: {{ model_vendor }}
    model_name: {{ model_name }}
    is_operational: {{ is_operational }}
    granularity: {{ granularity }}
    side_collection: {{ side_collection }}
    description: '{{ description }}'
    {%- if where_clause is not none %}
    where_clause:
      {%- if where_clause is mapping %}
      clause: >-
        {{ where_clause.get('clause', '') }}
      scope: {{ where_clause.get('scope', 'item') }}
      {%- else %}
      clause: >-
        {{ where_clause }}
      scope: item
      {%- endif %}
    {%- endif %}
{%- endmacro %}


{% macro conditional_tooling_workflow(
    agent_type,
    model_name,
    dependencies,
    description,
    conditional_clause,
    model_vendor="tool",
    is_operational= True,
    granularity="Record",
    side_collection=[],
    remove_collection=[]
) -%}
    agent_type: {{agent_type}}
    dependencies: {{ dependencies }}
    model_vendor: {{ model_vendor }}
    model_name: {{ model_name }}
    is_operational: {{ is_operational }}
    granularity: {{ granularity }}
    side_collection: {{ side_collection }}
    description: '{{ description }}'
    conditional_clause: {{ conditional_clause }}
{%- endmacro %}

{% macro conditional_quiz_workflow(
    agent_type,
    model_vendor,
    model_name,
    dependencies,
    api_key,
    schema_name,
    prompt,
    prompt_debug,
    add_dispatch,
    conditional_clause,
    few_shot=0,
    is_operational=True,
    side_collection=[],
    json_mode=True,
    granularity="Record",
    run_mode="online",
    remove_collection=[],
    schema=None
) -%}

    agent_type: {{ agent_type }}
    dependencies: {{ dependencies }}
    api_key: {{ api_key }}
    model_vendor: {{ model_vendor }}
    model_name: {{ model_name }}
    {%- if schema is not none %}
    schema: {{ schema }}
    {%- else %}
    schema_name: {{ schema_name }}
    {%- endif %}
    few_shot: {{ few_shot }}
    is_operational: {{ is_operational }}
    side_collection: {{ side_collection }}
    json_mode: {{ json_mode }}
    granularity: {{ granularity }}
    remove_collection: {{ remove_collection }}
    prompt: {{ prompt }}
    prompt: {{ prompt }}
    run_mode: {{ run_mode }}
    add_dispatch: {{ add_dispatch }}
    conditional_clause: {{ conditional_clause }}
{%- endmacro %}

















{% set prompt_list = [
    "$alignment.alignment_with_key_ideas",
    "$alignment.depth_of_understanding",
    "$alignment.relevance_and_appropriateness",
    "$alignment.avoidance_of_trivial_or_procedural",
    "$alignment.validity_of_answer_choices",
    "$alignment.completeness_and_clarity",
    "$alignment.integration_of_multiple_analytical_dimensions",
    "$alignment.ensuring_technical_accuracy",
    "$alignment.avoidance_of_ambiguity"
] %}

{% macro quiz_workflow_loop(
    agent_type,
    model_vendor,
    model_name,
    dependencies,
    api_key,
    prompts,
    schema_name,
    few_shot=0,
    prompt_debug=False,
    is_operational=True,
    side_collection=[],
    json_mode=True,
    granularity="Record",
    remove_collection=[]
) -%}
    {# Create a namespace to store the previous prompt #}
    {% set ns = namespace(previous_prompt=None) %}
    {%- for prompt in prompts -%}
        {% set current_agent_type = prompt.split('.')[-1] %}
        
        {{ quiz_workflow(
            agent_type=current_agent_type,
            model_vendor=model_vendor,
            model_name=model_name,
            dependencies=ns.previous_prompt is not none and [ns.previous_prompt] or [],
            api_key=api_key,
            schema_name=schema_name,
            prompt=prompt,
            few_shot=few_shot,
            prompt_debug=prompt_debug,
            is_operational=is_operational,
            side_collection=side_collection,
            json_mode=json_mode,
            granularity=granularity,
            remove_collection=remove_collection
        ) }}
        
        {# Update the namespace variable for the next iteration #}
        {% set ns.previous_prompt = prompt.split('.')[-1] %}
    {% endfor %}
{%- endmacro %}





